@media screen and (max-width: 786px) {
  *{
    box-sizing: border-box;
    font-size: 1.2rem;
  }
  body {
    background: #FAFAFA;
  }
  
  .main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background: #023031;
  }
  
  /* Adicionar nova carta */
  
  .new-card h1 {
    font-size: 2em;
    font-weight: bold;
  }
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    width: 60%;
  }
  
  .App {
    display: flex;
    flex-wrap: wrap;
  }
  
  .new-card-container, .card-preview-container {
    height: 100vh;
    width: 100%;
  }
  
  .new-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 150px 0;
    background-color: #fff;
    border: 1px solid transparent;
  }
  
  input {
    width: 100%;
    height: 37px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
    font-family: 'Epilogue';
    font-size: 16px;
  }
  
  label {
    margin-bottom: 0.25rem;
  }
  
  .form-span {
    display: block;
    width: 100%;
    height: 24px;
    margin-right: 0;
    font-family: 'Epilogue';
    font-weight: 700;
    font-style: normal;
    font-size: 1.2rem;
    color: #3D495C;
    font-weight: 600;
  }
  
  textarea {
    width: 100%;
    height: 108px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
    font-size: 16px;
    font-family: 'Epilogue';
  }
  
  .label-attr {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .form-span-attr {
    width: 80px;
  }
  
  .input-attr {
    width: 275px;
    height: 37px;
    border: 1px solid black;
    border-radius: 2px;
  }
  
  .label-image {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 5px;
  }
  
  .form-span-image {
    width: 80px;
  }
  
  #cardImage {
    width: 60%;
    height: 37px;
    border: 1px solid black;
    border-radius: 2px;
  }
  
  #cardRare {
    width: 100%;
    height: 40px;
  }
  
  .label-card-rare{
    display: block;
    width: 355px;
    height: 24px;
    margin-right: 0;
    font-family: 'Epilogue';
    font-weight: 600;
    font-style: normal;
    font-size: 1.2rem;
    line-height: 150%;
    color: #3D495C;
    margin-top: 35px;
    display: block;
    margin-bottom: 0.25rem;
  }
  
  .label-trunfo {
    display: flex;
    justify-content: flex-start;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  
  input[type=checkbox] {
    width: 20px;
    height: 20px;
    border: 2px solid #555;
    background-clip: content-box;
    padding: 1px;
  }
  
  input[type=checkbox]:checked {
    width: 20px;
    height: 20px;
    border: 2px solid #555;
    background-clip: content-box;
  }
  
  .form-span-checkbox {
    width: 150px;
    height: 21px;
    font-weight: bold;
    color: rgb(235, 233, 233);
  }
  
  .label-trunfo .form-span-checkbox {
    width: 150px;
    height: 21px;
    color: black;
  }
  
  .save-button {
    background: #003BE5;
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.06)) drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.1));
    border-radius: 2px;
    color: white;
    width: 115px;
    height: 40px;
  }
  
  /* Pré visualização */
  
  .card-preview-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #023031;
  }
  
  .new-card-title h1 {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 29px;
    color: #FFFFFF;
    margin-right: 430px;
    margin-top: -50px;
  }
  
  .card-container-0 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 368px;
    height: 549px;
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }
  
  .card-container-1 {
    display: flex;
    flex-direction: column;
    width: 348px;
    height: 529px;
    background: #036B52;
    border-radius: 10px;
    margin: auto;
    align-items: center;
  }
  
  .card-title-1 {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    width: 317px;
    height: 40px;
    background: #023031;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 0;
    color: #FFFFFF; 
    align-items: center;
    justify-content: space-between;
  }
  
  .rarity-container {
    margin-left: 8px;
    text-align: start;
    width: 80px;
  }
  
  .rare-container {
    width: 60%;
  }
  
  .rarity {
    margin: 0;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
  }
  
  .card-title{
    margin-right: 8px;
  }
  
  .image-container {
    width: 317px;
    display: flex;
  }
  
  .card-image {
    position: relative;
    width: 317px;
  }
  
  .image-super-trunfo {
    position: absolute;
    width: 2%;
    margin-left: 265px;
    margin-top: 115px;
  }
  
  .card-description {
    width: 317px;
    height: 147px;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 13px;
    color: #FFFFFF;
    margin-bottom: 0;
  }
  
  .card-container-2 {
    background: #FFFFFF;
    border: 1px solid black;
    border-radius: 10px;
    width: 317px;
    max-height: 188px;
    margin-top: -20%;
  }
  
  
  .attrs {
    width: 317px;
    height: 188px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .attr-container {
    display: flex;
    width: 284px;
    height: 30.74px;
    background: #F0F2F5;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
  }
  
  .atribute {
    margin-left: 10px;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
  }
  
  .attr-value {
    width: 48px;
    height: 30.74px;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    background: #023031;
    border-radius: 0px 10px 10px 0px;
    text-align: center;
  }
  
  /* Todas as cartas */
  
  .cards-view-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: #023031;
    box-sizing: border-box;
  }
  
  .filters-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 30px 50px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .card-view {
    width: 660px;
    margin: 30px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .cards-view-title {
    text-align: center;
    width: 100%;
    font-family: 'Epilogue';
    font-style: normal;
    line-height: 29px;
    font-size: 2em;
    font-weight: bold;
    color: rgb(235, 233, 233);
  }
  
  .filters-title {
    font-family: 'Epilogue';
    font-style: normal;
    line-height: 18px;
    font-size: 1.4em;
    font-weight: bold;
    color: rgb(235, 233, 233);
  }
  
  .name-search{
    width: 305px;
    height: 45px;
    background: #FFFFFF;
    border: 1px solid #3D495C;
    border-radius: 6px;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 7px;
  }
  
  .rarity-search{
    width: 311px;
    height: 45px;
    background: #FFFFFF;
    border: 1px solid #3D495C;
    border-radius: 6px;
    padding: 0px;
    gap: 10px;
    margin-top: 7px;
  }
  
  .button-delete-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
  }
  
  .button-delete {
    background: #036b52;
    border: none;
    border-radius: 0.2rem;
    color: #fff;
    cursor: pointer;
    padding: 0.8rem 1.6rem;
    transition: .1s;
    width: 60%;
    height: 80%;
    margin-top: 5%;
  }
  
  .button-delete:hover, .button-delete:focus {
    box-shadow: 0 0 0 3px rgba(3, 97, 50, 0.26) , 0 0 0 4px rgba(3, 97, 50, 0.26);
    outline: none;
  }
  
  .span-form-delete-text {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #003BE5;
  }
  
  .deck-container {
    width: 1520px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 5px;
  }
  
  input[type=checkbox] ,select, button:hover {
    cursor: pointer;
  }
  
  .attr span, .txt span, .img span{
    font-weight: 600;
    display: block;
    font-family: "epilogue";
  }
  
  .attr input {
    background: #fff;
    border: transparent;
    border-radius: 0.2rem;
    margin-bottom: 14px;
    padding: 0.8rem;
    transition: .2s;
    resize: vertical;
    border-bottom: 2.3px solid #036b52;
    width: 60%;
  }
  
  .txt input, .txt textarea {
    background: #fff;
    border: transparent;
    border-radius: 0.2rem;
    margin-bottom: 14px;
    padding: 0.8rem;
    transition: .2s;
    resize: vertical;
    border-bottom: 2.3px solid #036b52;
  }
  
  .super-trump {
    align-items: center;
    justify-content: center;
  }
  
  .btn {
    justify-content: center;
    align-items: center;
  }
  
  .btn button{
    background: #036b52;
    border: none;
    border-radius: 0.2rem;
    color: #fff;
    cursor: pointer;
    padding: 0.8rem 1.6rem;
    transition: .1s;
    width: 60%;
    height: 100%;
  }
  
  .btn button:disabled {
    cursor: not-allowed;
    opacity: .5;
  }
  
  .btn button:hover, .btn button:focus {
    box-shadow: 0 0 0 3px rgba(3, 97, 50, 0.26) , 0 0 0 4px rgba(3, 97, 50, 0.26);
    outline: none;
  }
}

@media screen and (min-width: 787px) {
  *{
    box-sizing: border-box;
    font-size: 1.2rem;
  }
  body {
    background: #FAFAFA;
  }
  
  .main-container {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background: #023031;
  }
  
  /* Adicionar nova carta */
  
  .new-card h1 {
    font-size: 2em;
    font-weight: bold;
  }
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    width: 60%;
  }
  
  .App {
    display: flex;
    flex-wrap: wrap;
  }
  
  .new-card-container, .card-preview-container {
    height: 100vh;
    width: 100%;
  }
  
  .new-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 150px 0;
    background-color: #fff;
    border: 1px solid transparent;
  }
  
  input {
    width: 100%;
    height: 37px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
    font-family: 'Epilogue';
    font-size: 16px;
  }
  
  label {
    margin-bottom: 0.25rem;
  }
  
  .form-span {
    display: block;
    width: 100%;
    height: 24px;
    margin-right: 0;
    font-family: 'Epilogue';
    font-weight: 700;
    font-style: normal;
    font-size: 1.2rem;
    color: #3D495C;
    font-weight: 600;
  }
  
  textarea {
    width: 100%;
    height: 108px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
    font-size: 16px;
    font-family: 'Epilogue';
  }
  
  .label-attr {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .form-span-attr {
    width: 80px;
  }
  
  .input-attr {
    width: 275px;
    height: 37px;
    border: 1px solid black;
    border-radius: 2px;
  }
  
  .label-image {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 5px;
  }
  
  .form-span-image {
    width: 80px;
  }
  
  #cardImage {
    width: 60%;
    height: 37px;
    border: 1px solid black;
    border-radius: 2px;
  }
  
  #cardRare {
    width: 100%;
    height: 40px;
  }
  
  .label-card-rare{
    display: block;
    width: 355px;
    height: 24px;
    margin-right: 0;
    font-family: 'Epilogue';
    font-weight: 600;
    font-style: normal;
    font-size: 1.2rem;
    line-height: 150%;
    color: #3D495C;
    margin-top: 35px;
    display: block;
    margin-bottom: 0.25rem;
  }
  
  .label-trunfo {
    display: flex;
    justify-content: flex-start;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  
  input[type=checkbox] {
    width: 20px;
    height: 20px;
    border: 2px solid #555;
    background-clip: content-box;
    padding: 1px;
  }
  
  input[type=checkbox]:checked {
    width: 20px;
    height: 20px;
    border: 2px solid #555;
    background-clip: content-box;
  }
  
  .form-span-checkbox {
    width: 150px;
    height: 21px;
    font-weight: bold;
    color: rgb(235, 233, 233);
  }
  
  .label-trunfo .form-span-checkbox {
    width: 150px;
    height: 21px;
    color: black;
  }
  
  .save-button {
    background: #003BE5;
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.06)) drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.1));
    border-radius: 2px;
    color: white;
    width: 115px;
    height: 40px;
  }
  
  /* Pré visualização */
  
  .card-preview-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #023031;
  }
  
  .new-card-title h1 {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 29px;
    color: #FFFFFF;
    margin-right: 430px;
    margin-top: -50px;
  }
  
  .card-container-0 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 368px;
    height: 549px;
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }
  
  .card-container-1 {
    display: flex;
    flex-direction: column;
    width: 348px;
    height: 529px;
    background: #036B52;
    border-radius: 10px;
    margin: auto;
    align-items: center;
  }
  
  .card-title-1 {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    width: 317px;
    height: 40px;
    background: #023031;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 0;
    color: #FFFFFF; 
    align-items: center;
    justify-content: space-between;
  }
  
  .rarity-container {
    margin-left: 8px;
    text-align: start;
    width: 80px;
  }
  
  .rare-container {
    width: 60%;
  }
  
  .rarity {
    margin: 0;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
  }
  
  .card-title{
    margin-right: 8px;
  }
  
  .image-container {
    width: 317px;
    display: flex;
  }
  
  .card-image {
    position: relative;
    width: 317px;
  }
  
  .image-super-trunfo {
    position: absolute;
    width: 2%;
    margin-left: 265px;
    margin-top: 115px;
  }
  
  .card-description {
    width: 317px;
    height: 147px;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 13px;
    color: #FFFFFF;
    margin-bottom: 0;
  }
  
  .card-container-2 {
    background: #FFFFFF;
    border: 1px solid black;
    border-radius: 10px;
    width: 317px;
    max-height: 188px;
    margin-top: -20%;
  }
  
  
  .attrs {
    width: 317px;
    height: 188px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .attr-container {
    display: flex;
    width: 284px;
    height: 30.74px;
    background: #F0F2F5;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
  }
  
  .atribute {
    margin-left: 10px;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
  }
  
  .attr-value {
    width: 48px;
    height: 30.74px;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    background: #023031;
    border-radius: 0px 10px 10px 0px;
    text-align: center;
  }
  
  /* Todas as cartas */
  
  .cards-view-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: #023031;
    box-sizing: border-box;
  }
  
  .filters-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 30px 50px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .card-view {
    width: 660px;
    margin: 30px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .cards-view-title {
    text-align: center;
    width: 100%;
    font-family: 'Epilogue';
    font-style: normal;
    line-height: 29px;
    font-size: 2em;
    font-weight: bold;
    color: rgb(235, 233, 233);
  }
  
  .filters-title {
    font-family: 'Epilogue';
    font-style: normal;
    line-height: 18px;
    font-size: 1.4em;
    font-weight: bold;
    color: rgb(235, 233, 233);
  }
  
  .name-search{
    width: 305px;
    height: 45px;
    background: #FFFFFF;
    border: 1px solid #3D495C;
    border-radius: 6px;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 7px;
  }
  
  .rarity-search{
    width: 311px;
    height: 45px;
    background: #FFFFFF;
    border: 1px solid #3D495C;
    border-radius: 6px;
    padding: 0px;
    gap: 10px;
    margin-top: 7px;
  }
  
  .button-delete-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
  }
  
  .button-delete {
    background: #036b52;
    border: none;
    border-radius: 0.2rem;
    color: #fff;
    cursor: pointer;
    padding: 0.8rem 1.6rem;
    transition: .1s;
    width: 60%;
    height: 80%;
    margin-top: 5%;
  }
  
  .button-delete:hover, .button-delete:focus {
    box-shadow: 0 0 0 3px rgba(3, 97, 50, 0.26) , 0 0 0 4px rgba(3, 97, 50, 0.26);
    outline: none;
  }
  
  .span-form-delete-text {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #003BE5;
  }
  
  .deck-container {
    width: 1520px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 5px;
  }
  
  input[type=checkbox] ,select, button:hover {
    cursor: pointer;
  }
  
  .attr span, .txt span, .img span{
    font-weight: 600;
    display: block;
    font-family: "epilogue";
  }
  
  .attr input {
    background: #fff;
    border: transparent;
    border-radius: 0.2rem;
    margin-bottom: 14px;
    padding: 0.8rem;
    transition: .2s;
    resize: vertical;
    border-bottom: 2.3px solid #036b52;
    width: 60%;
  }
  
  .txt input, .txt textarea {
    background: #fff;
    border: transparent;
    border-radius: 0.2rem;
    margin-bottom: 14px;
    padding: 0.8rem;
    transition: .2s;
    resize: vertical;
    border-bottom: 2.3px solid #036b52;
  }
  
  .super-trump {
    align-items: center;
    justify-content: center;
  }
  
  .btn {
    justify-content: center;
    align-items: center;
  }
  
  .btn button{
    background: #036b52;
    border: none;
    border-radius: 0.2rem;
    color: #fff;
    cursor: pointer;
    padding: 0.8rem 1.6rem;
    transition: .1s;
    width: 60%;
    height: 100%;
  }
  
  .btn button:disabled {
    cursor: not-allowed;
    opacity: .5;
  }
  
  .btn button:hover, .btn button:focus {
    box-shadow: 0 0 0 3px rgba(3, 97, 50, 0.26) , 0 0 0 4px rgba(3, 97, 50, 0.26);
    outline: none;
  }
}